body {
    background-color: rgb(224, 224, 224);
}

canvas {
    background-color: white;
}

.gallery-img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.saved-meme-img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    /* text-align: center; */
}

.logo-img {
    width: 200px;
}

.header-btn {
    padding: 10px;
    border-radius: 10px;
}

.meme-editor {
    display: flex;
    justify-content: space-evenly;
}

.canvas-container {
    flex-basis: 70%;
}

@media(max-width: 670px) {

    .meme-editor {
        display: flex;
        flex-direction: column;
    }
}

datalist{
    /* display: block; */
}