html, body {
    overflow-x: hidden;
}

html{
    min-height: 100%;
    position: relative;
}
body {
    background-color: rgb(241, 241, 241);
    box-sizing: border-box;
    margin: 0;
   
}

body >*{
    overflow-x: hidden;

}

canvas {
    background-color: white;
}

.image-gallery {
    text-align: center;
    margin-bottom: 23vh;
}

.gallery-img {
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: -3px 5px 19px 0px;
    object-fit: cover;
}
.gallery-img:hover {
   border: 1px solid gray;
   box-sizing: border-box;
   cursor: pointer;
}

.saved-meme-img {
    width: 200px;
    height: auto;
    margin: 10px;
}
.share-link{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255, 149, 0);
    border: none;
    color: white;
    
}
header {
    background-color: #1b8cd8;
}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.controls-row4{
    display: flex;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.controls-row4>*{
    margin: 4px ;
}

.logo {
    margin: 0;
    color: white;
    margin-left: 20px;
    margin-bottom: 15px;
   font-family: 'Caveat', cursive;
   font-size: 50px;
}

.logo:hover{
    cursor: pointer;
    color: black;
}

.logo-img {
    width: 200px;
}

.header-btn {
    padding: 37px;
    font-weight: 800;
    font-family: cursive;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #1b8cd8;
    color: white;
}

.header-btn:hover {
    border-bottom: 3px solid black;
    color: black;
    cursor: pointer;
}

.meme-editor {
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: none;
    margin-bottom: 30vh;
}
.font-style{
    color: #045a88;
}
.saved-memes {
    display: none;
    margin-bottom: 24vh;
}

.canvas-container {
    /* aspect-ratio: 1/1; */
}

.about-me {
    background-color: white;
    display: none;
    justify-content: center;
    align-content: center;
}
.profile-img {
    width: 200px;
    margin: 50px;
    border-radius: 50%;
}
canvas {
    border: 5px solid #91c3de;
    border-radius: 10px;
    box-shadow: -2px 4px 11px 0px;
}

.meme-controls {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-btn {
    display: none;
}


.search-bar {
    background-color: transparent;
    /* display: flex; */
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 1fr;
    justify-self: start;
}

.filter {
    margin: 10px;
    width: 100%;
    border: 0;
    padding: 10px;
    width: 400px;
}


/* footer */

footer {
    width: 100%;
    background-color: #1b8cd8;
    height: 22vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer-logo {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 40px;
    color: white;
    font-family: 'Caveat', cursive;;
}


h4{
    margin: 0;
}
.about-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editor-btn {
    padding: 5px;
    border: none;
    background-color: #8bd1f7;
    border-radius: 5px;
    width: 40px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
}

.editor-btn>*{
    color: black;
}

.text-input {
    padding: 10px;
    border: none;
    margin: 10px;
    border-radius: 10px;
}

.social-btn{
    border: none;
    background-color: white;
    font-size: 30px;
}
.social-btn:hover{
    border: none;
    background-color: white;
    font-size: 30px;
    color: gray;
    cursor: pointer;
}

.saved-memes-header{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}

.stickers{
    font-size: 25px;
}
.stickers:hover{
    cursor: pointer;
}

.stickers > *{
    
    background-color:  #8bd1f7;
    padding: 4px;
    border-radius: 10px;
}

label{
    font-family: cursive;
    margin: 5px;
    padding: 8px;
    color: white;
    /* background-color: #8bd1f7; */
    border-radius: 10px;
}

::placeholder{
    color: #045a88;
    
}
button {
    font-family: cursive;
}
select{
    font-family: cursive;
}
.categorys{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    /* padding: 3px; */
    margin-left: 100px;
    cursor: pointer;
    border-radius: 20px;
    border: 3px solid rgb(198, 228, 246);
}

input[type="file"] {
    display: none;
}

.upload {
    padding: 7px;
    border: 1px solid gray;
    background-color: #1b8cd8;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.section2{
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: transparent;
    /* justify-content: space-evenly; */
    /* margin-left: 82px; */
    max-width: 85vw;
    margin: auto;
}
.section-btns{
    margin-right: 200px;
    margin-left: 100px;
    margin: 10px;
}

.lang-select{
    padding: 7px;
    border: 1px solid gray;
    background-color: #1b8cd8;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

.api{
    padding: 7px;
    border: 1px solid gray;
    background-color: #1b8cd8;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}
@media(max-width:1025px) {
    .search-bar{
     flex-direction: column;
     padding: 20px;
    }

}

@media(max-width:996px) {
    .section2{

        justify-content: center;
    }
    .categorys{
        display: none;
    }
    .section-btns > *{
        display: block;
        /* flex-direction: row; */
        margin: 20px;
    }
    .section-btns{
        display: flex;
        flex-direction: row;
    }
}
@media(max-width:910px) {
    .filter{
        width: 250px;
    }
}
@media(max-width:775px) {
    .about-me{
        display: none;
    }
    .profile-img{
        margin: 10px;
    }
    .meme-editor {
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:755px) {
    .about-me{
        display: none;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;

        position: absolute;
        right: 0;
        top: 89px;
        background-color: black;
        transform: translateX(100%);

        transition: transform .6s;
    }

    .menu-btn {
        display: block;
    }

    .buttons.open {
        transform: translateX(0%);
        overflow-x: hidden;


    }

    .header-btn:hover {
        border-bottom: 3px solid #1b8cd8;
        color: black;

    }

}
@media(max-width: 670px) {
    .filter{
        display: none;
    }
    
     .about-me{
        display: none;
    } 
    .categorys{
        display: none;
    }
    .section-btn{
        display: block;
    }
    .section2{
        display: block;
        justify-content: space-around;
        background-color: rgb(224, 224, 224);

    }
    .section-btns{
        display: flex;
      
        justify-content: space-around;
    }
    .upload{
        width: 50px;
        height: 20px;
    }
}
@media(max-width:560px){

}

.category{
    margin: 5px;
    color:#1b8cd8;
    font-size: 20px;
    margin: 13px;
}

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

